* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    position: relative;
}

.container70 {
    width: 70%;
    margin: 0 auto;
}
.container50 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

p, h2, h5, h3, h4 {
    color: #32495b;
    font-weight: 700;
}
h1 {
    font-size: 60px;
    line-height: 60px;
    color: #32495b;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size:22px;
}
h4 {
    text-transform: uppercase;
    font-size: 18px;
}
h5 {
    font-size: 15px;
    line-height: 31px;
    padding: 20px 0;
}
p {
    font-size: 17px;
    line-height: 31px;
    padding: 20px 0;
}


/* bottoni */
.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fe775a;
    color: #fe775a;
}
.btn-orange {
    background-color: #fe775a;
    color: white;
}
a.btn.btn-orange:hover {
    background-color: rgb(254 119 90 / 57%);
    color: white;
}
a.btn:hover{
    background-color: rgb(254 119 90 / 57%);
    color: white;
}
/* background */
.bg-lightblue {
    background-color: #f4f9fd;
}
/* header */
.top-header {
    position: fixed;
    z-index: 2;
    height: 80px;
    width: 100%;
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
}
#line {
    padding: 15px
}
.list-inline {
    list-style: none;
}
.list-inline a:not(.btn-orange,.btn) {
    text-decoration: none;
    color: #33475b;
}
a:not(.btn, .btn-orange):hover {
    color: #0091ae;
    text-decoration: underline;
}
.list-inline li {
    display: inline-block;
    padding: 0 7px;
    font-size: 18px;
    line-height: 80px;
}
.fa-globe-europe,
.fa-chevron-down {
    color: #33475b;
    padding: 0 5px;
}
.chevron {
    margin-left: 10px;
}

.icon {
    height: 20px;
}

/* header logo e navbar */
.header-nav {
    height: 161px;
    padding-top: 81px;
    background-color: white;
}

.header-nav img {
    margin: 25px 0;
}

/* jumbotron */
.jumbotron {
    position: relative;
    height: 700px;
    border-bottom: 3px solid #32495b ;
    background-image: url(../img/jumbotron.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff2ee;
}
.jumbotron-text {
    position: absolute;
    width: 25%;
    top: 45%;
    left: 15%;
    transform: translate(0, -50%);
    color: #32495b;
}

.jumbotron a {
    display: inline-block;
    padding: 20px;
}

.interspace {
    height: 90px;
    border-bottom: 3px solid #32495b ;
    background-color: #afebe4;
}

/* sezione immagine al centro e testo sotto */
#cube-img {
    height: 200px;
    margin-top: 40px;
}

/* sezione rettangolo bianco con immagine sx e testo dx */
.icon100 {
    display: block;
    height: 100px;
    margin-bottom: 20px;
    margin: auto;
}

.top-section {
    background-color: white;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 0px 7px;
}
.top-section a {
    display: block;
    width: 33%;
    padding: 20px;
    margin: auto;
}

.top-section-text {
    width: 60%;
    padding: 3%;
}

.top-section-img {
    width: 30%;
    padding: 4% 0;
}
.top-section img {
    margin-bottom: 20px;
}

.top-section-text h4 {
    display: inline-block;
}
.top-section-text hr {
    display: inline-block;
    width: 35%;
    margin: 0 0 4px 15px;
    border: 1px solid grey;
}
.check-list li {
    list-style: none;
    margin: 20px 20px 0 0 ;
    line-height: 6px;
    text-align: left;
    color: #33475b;
}
.top-section li {
    display: inline-block;
}
.check-list li::before {
    content:"\2714";
    border-radius: 50%;
    margin-right: 15px;
    padding: 0 5px;
    color: white;
    background-color: #fe775a;
}

/* sezione a tre colonne  */
.aside {
    width: 30%;
    padding: 30px 55px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0px 0px 7px;
    background-color: white;
}
.aside-center {
    margin: 0 5%;
}

#hr-aside {
    margin: 50px 0 40px 0;
    border: 1px solid grey;
}

.aside a {
    display: block;
    width: 38%;
    margin: 12% 30% 0;
}
.aside img {
    margin-bottom: 20px;
}

/* sezione color petrolio */
.bg-aqua {
    background-image: linear-gradient(to right, #00a6bb, #00bca5);
    text-align: center;
    /* height: 1000px; */
}

/* testo sezione petrolio */
.aqua-text {
    padding-top: 55px;
}
.aqua-text h2,
.aqua-text p,
.row-element h2,
.row-element p  {
    color: white;

}

/* tabella sezione petrolio */
.aqua-table {
    padding: 40px 0 90px 0;
}

.row img {
    height: 30px;
}
.row-element {
    width: 25%;
    padding: 30px;
}
.row span {
    font-size: 25px;
}
.row p {
    padding: 0;
    font-weight: 400;
}
.row-element h2::after {
    content: "\002B";
    font-size: 25px;
}

.first-row {
    border-bottom: 1px solid white;
}

.border-element {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.border-element-left {
    border-left: 1px solid white;
}

/* ultima sezione sfondo bianco */

.white-section-top-text {
    width: 30%;
    padding: 60px 0 0 115px;
}
.logos {
    width: 70%;
    text-align: right;
    padding: 80px;
}
.row-logo {
    padding-bottom: 30px;
}
.row-logo img {
    max-width: 170px;
    padding-right: 20px;
    vertical-align: middle;
}

.white-section-title {
    padding-top: 60px;
    width: 40%;
}

.white-section-main img {
    height: 436px;
    margin-bottom: 100px;
}


/* footer */
footer {
    background-color: #32495b;
    height: 1000px;
}
footer h5,
footer a {
    text-decoration: none;
    color: #dadee0;
}
footer li {
    list-style: none;
    padding-bottom: 15px;

}
.column {
    width: 25%;
}

#button-footer {
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #dadee0;
    color: #32495b;
}
#button-footer:hover {
    background-color: #0091ae;
    color: #dadee0;
    border: 1px solid #dadee0;
}

.fab {
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}