* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    position: relative;
}
.support-header {
    position: relative ;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}
.container50 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    color: #32495b;
}

p, h5 {
    font-size: 15px;
    line-height: 31px;
    padding: 20px 0; 
}

h2 {
    font-size: 30px;
}
h3 {
    font-size:22px;
}

p, h2, h5, h3 {
    color: #32495b;
    font-weight: 700;
}
.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fe775a;
    color: #fe775a;
}
.btn-orange {
    background-color: #fe775a;
    color: white;
}

.bg-lightblue {
    background-color: #f4f9fd;
}
/* header */
.top-header {
    height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
}
#line { 
    padding: 15px
}
.list-inline {
    list-style: none;
}
.list-inline a {
    text-decoration: none;
    color: #33475b;
}

.list-inline li {
    display: inline-block;
    padding: 0 7px;
    font-size: 18px;
    line-height: 80px;
}
.fa-globe-europe,
.fa-chevron-down {
    color: #33475b;
    padding: 0 5px;
}
.chevron {
    margin-left: 10px;
}

.icon {
    height: 20px;
}

/* header logo e navbar */
.header-nav {
    height: 80px;
    background-color: white;
}

.header-nav img {
    margin: 25px 0;
}

/* jumbotron */
.jumbotron {
    position: relative;
    height: 700px;
    border-bottom: 3px solid #32495b ;
    background-image: url(../img/jumbotron.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff2ee;
}
.jumbotron-text {
    position: absolute;
    width: 25%;
    top: 45%;
    left: 10%;
    transform: translate(0, -50%);
    color: #32495b;
}

.jumbotron a {
    display: inline-block;
    padding: 20px;
}

.interspace {
    height: 90px;
    border-bottom: 3px solid #32495b ;
    background-color: #afebe4;
}

/* sezione immagine al centro e testo sotto */
#cube-img {
    height: 200px;
    margin-top: 40px;
}

/* sezione rettangolo bianco con immagine sx e testo dx */
.icon100 {
    display: block;
    height: 100px;
    margin-bottom: 20px;
}

.top-section {
    background-color: white;
}
.top-section a {
    display: block;
}

.top-section-text {
    width: 70%;
}